.bars{
    display: none;
}
@media screen and (max-width: 500px) {
    @font-face {
        font-family: myfont;
        src: url(../../fonts/fonts.woff2);
    }
    *{
        padding: 0;
        margin: 0;
    }
    .bars{
        display: block;
        float: right;
        font-size: x-large;
        padding: 12px 14px;
    }
    /* navbar start */
    .heading1{
        color: #DCAA55;
        text-align: center;
        color: #DCAA55;
        float: left;
        font-size: x-large;
        margin-left: 10px;
        transition: 0.3s ease-in-out all ;
        padding-top: 0px;
        padding: 12px 14px;
    }
    ul li{
        list-style: none;
        display: block;
        width: 100%;
    }
    .navbar{
        margin-top: 50px;
        width: 100%;
        margin-left: 0%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 17px );
-webkit-backdrop-filter: blur( 17px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    a{
        color: black;
        text-decoration: none;
    }
    .dropdown-item{
        padding: 12px 14px;
    }
    .header{
      background-color: #f1f1f1;
      transition: 0.4s; /* Adds a transition effect when the padding is decreased */
      position: fixed; /* Sticky/fixed navbar */
      width: 100vw;
      top: 0; /* At the top */
      z-index: 99;
      height: fit-content;
    }
    #scroll-progress {
        height: 3px;
        background-color: #DCAA55;
        display: none;
      }
      
      /* Style the progress bar fill */
      #scroll-progress::-webkit-progress-value {
        background-color: blue;
      }
      
      /* Style the progress bar track */
      #scroll-progress::-webkit-progress-bar {
        background-color: lightgray;
      }
    /* navbar end */
      .nav-link{
        color: black;
      }
      .nav-link:hover{
        color: black;
      }
      .nav-link:active{
        color: black;
      }
}