body {
    
    margin: 0;
    padding: 0;
}
html{
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
}
@keyframes wipe-in-left {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

main {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
}

h2 {
    color: #333;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.question:hover {
    background-color: #ddd;
}
.question1{
    color: #dcaa55;
}
.span{
    font-family: sans-serif;
    margin-left: 5px;
    padding: 12px 14px;
}
.related-video{
    float: left;
    width: 100%;
    height: max-content;
}
.video{
    margin-left: 10%;
    min-height: 500px;
    aspect-ratio: 16/9;
}
.h2-video{
    color: #dcaa55;
}
@media screen and (max-width: 500px) {
    main{
        margin-top: 50px;
    }
    .video{
        width: 96%;
        margin-left: 2%;
        min-height: 100px;
    }
}